
body{
    display:flex;
    flex-direction: column;
    margin: 0;
    background-color: #1A1A1D;
    font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro",Osaka, "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
    min-height: 100vh;
}


.game, 
.header, 
.footer, 
.low,
.body{
    display: flex;
}

.body{
    flex-direction: column;
    flex: 1;
    align-items: center;
}
.header{
    justify-content: center;
    align-items: center;
    background-color: #b94806;
}


.game{
    justify-content: space-around;
    align-items: center;
    margin: 50px 0px;
    gap: 20px;
}

.left{
    display: flex;
    gap: 10px;
}

.ai-panel{
    margin-right: 100px;
}


.score{
    background-color: rgb(230, 131, 19);
    width: 200px;
    font-weight: 900;

}
.pick-panel{
    display: flex;
    flex-direction: column;
    gap: 50px;
    justify-content: center;
}

.round-panel{
    height: 400px;
}

.round-panel img{
    margin-bottom: 100px;
}


.pick-panel input{
    width: 100px;
    height: 100px;
    background-color: rgb(230, 131, 19);
}

.player-panel, .ai-panel, .round-panel{
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: #b94806;
    justify-content: center;
    align-items: center;
}


#player-pick, #ai-pick{
    width: 300px;
    height: 300px;
}

.pick{
    visibility: hidden;
}

.low{
    justify-content: center;
    align-self: center;
}

#new-game{
    width: 200px;
    height: 100px;
    background-color: rgb(230, 131, 19);
    font-weight: 900;
    font-size: 20px;
}

.footer{
    display: flex;
    background-color: #b94806;
    color: white;
    justify-content: center;
    margin-top: auto;
}

a:link, a:visited{
    text-decoration: none;
    color: black;
}
